/* CSS Document */


TD.headline_paragraph {
	padding-top    : 5px;
	padding-right  : 5px;
	padding-left: 5px;
	padding-bottom : 5px;
	font-size: 12px;
	border-bottom: 1px #006E51 solid;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006E51;
}

TD.title_paragraph {
	padding-right  : 5px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006E51;
}

TD.title_paragraph_top {
	padding-right  : 5px;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006E51;
}

TD.content {
	padding-top    : 10px;
	padding-bottom : 10px;
	padding-right  : 5px;
	padding-left: 5px;
	color : #555555;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

TD.content_separator_bottom {
	padding-top    : 10px;
	padding-bottom : 10px;
	padding-right  : 5px;
	padding-left: 5px;
	color : #555555;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px #CCCCCC solid;
	text-align:left;
	vertical-align:top;
}

TD.content_separator_bottom_right {
	padding-top    : 10px;
	padding-bottom : 10px;
	padding-right  : 5px;
	padding-left: 5px;
	color : #555555;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	text-align:left;
	vertical-align:top;
}


TD.title_paragraph_grey {
	padding-right  : 5px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}


TD.title_paragraph_grey_top {
	padding-right  : 5px;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

td.labels {
	padding-top    : 5px;
	padding-bottom : 5px;
	padding-right  : 5px;
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	color: #555555;
	text-decoration: none;
}


A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #BF5426;
	text-decoration:none;
}

A:Hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


